[user]
	name = Josh Klodnicki
	email = joshklod@gmail.com
[core]
	editor = nano
	whitespace = cr-at-eol
[push]
	default = simple
[alias]
	llog = !"/dev/null; git log --decorate --abbrev-commit --date-order"
	logg = !git llog --graph
	loga = !git logg --all
	graph = !"COLS=$(($(tput cols)-10)); FORMATSTR='\t%C(auto)%h %C(4)%<(15)%an%Creset%C(auto)%d%n\t  %<('${COLS}',trunc)%s'; git logg --format=\"$FORMATSTR\""
	lg = !git graph
	lga = !git lg --all
	lgs = !git lga --simplify-by-decoration
	stl = !"git status; git lgs"
