[user]
	name = Josh Klodnicki
	email = joshklod@gmail.com
[core]
	editor = nano
	whitespace = cr-at-eol
[push]
	default = simple
[alias]
	graphs = !"COLS=$(($(tput cols)-10)); FORMATSTR='\t%C(auto)%h %C(4)%<(15)%an%Creset%C(auto)%d%n\t  %<('${COLS}',trunc)%s'; git log --graph --decorate --format=\"$FORMATSTR\""
	grapha = !git graphs --all
	lg = !git grapha
	lgs = !git grapha --simplify-by-decoration
	lgl = log --graph --all --decorate --abbrev-commit
