[submodule "vim-pathogen"]
	path = submodules/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim-colors-solarized"]
	path = submodules/vim-colors-solarized
	url = git://github.com/joshklod/vim-colors-solarized.git
[submodule "gitignore"]
	path = submodules/gitignore
	url = git://github.com/github/gitignore.git
[submodule "vim-eunuch"]
	path = submodules/vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
