[submodule "nano-highlight"]
	path = submodules/nano-highlight
	url = https://github.com/serialhex/nano-highlight.git
[submodule "vim-pathogen"]
	path = submodules/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim-colors-solarized"]
	path = submodules/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
