[user]
	name = Josh Klodnicki
	email = joshklod@gmail.com
[core]
	editor = nano
	pager = less -+FX
	whitespace = cr-at-eol,indent-with-non-tab,tabwidth=4
[push]
	default = simple
[include]
	path = ~/.git_aliases
